@import "@/styles/variable.scss";

#studio {
    padding: $page-padding;

    $max-width: 900px;

    .form-panel {
        background-color: #ffffff;
        border-radius: 4px;
        padding: 20px;
        box-shadow: 0 1px 5px 0 #ddd;
        margin: 20px auto;
        box-sizing: border-box;
        max-width: $max-width;
    }

    pre {
        font-size: 12px;
        border-radius: 5px;
        padding: 10px;
        margin: 20px auto;
        box-sizing: border-box;
        max-width: $max-width;
        box-shadow: 0 1px 5px 0 #ddd;
        background-color: #ffffff;
    }


}

#studio /deep/ {}